In [2]:
# Load all packages
import re
import os
import glob
import plotly
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import plotly.express as px

In [7]:
# Import CSV file
data_path_processed = Path(os.path.abspath('')).parent / "../Data/"
#df_scc_all = pd.read_csv(f'{data_path_processed}/SCC_All.csv', keep_default_na=False, na_values='NULL')
#df_scc_sampled = pd.read_csv(f'{data_path_processed}/SCC_Downsampled_with_Features.csv', keep_default_na=False, na_values='NULL')
data_deezeer = pd.read_csv(f'{data_path_processed}/data_deezer.csv',keep_default_na=False, na_values='NULL')

In [8]:
data_deezeer.head(10)

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1
2,16,1479563953,305197,48078,1,20140714,2,1,149,1,1,7665,2704,29,1
3,7,1480152098,900502,71521,0,20001030,0,0,240,0,1,1580,938,30,0
4,7,1478368974,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1
5,7,1478382544,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1
6,7,1478338409,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1
7,7,1478353709,542335,71718,1,20080215,1,0,150,1,1,10325,2939,29,1
8,7,1479130924,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1
9,7,1479214304,542335,71718,1,20080215,1,2,150,1,1,51,2939,28,1

In [6]:
data_deezeer.count()

genre_id           7558834
ts_listen          7558834
media_id           7558834
album_id           7558834
context_type       7558834
release_date       7558834
platform_name      7558834
platform_family    7558834
media_duration     7558834
listen_type        7558834
user_gender        7558834
user_id            7558834
artist_id          7558834
user_age           7558834
is_listened        7558834
dtype: int64